<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application>
        <!-- Allows llama.rn to link to vendor Adreno OpenCL drivers -->
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />

        <service
            android:name="expo.modules.modelfile.EdgeComputeWorkerService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>
</manifest>